.DashboardMenuCentral{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
}

.DashboardMenuCentral-LogoPrincipal{
  padding: 0px;
  border: 1px solid #05050500;
  
}

.DashboardMenuCentral-logo{
  order: 0;
  padding: 10px;
  margin: center;
  position: relative;
  top: -100px;


}
.DashboardMenuCentral-logo-Ziriuz{
  width:250px;
  height:150px;
}

.DashboardMenuCentral-title{
  font-size: 20px;
  margin: 10px;
  text-align: center;
  color: aqua;
  border-radius: 20px;
  width: 90%;
  padding: 0px 10px 0px 10px;   
  background-color: #1f1f1f;
}

.DashboardMenuCentral-p{
  color: aqua;
  transition: color 0.1s;
}
.DashboardMenuCentral-p:hover{
  color: #fff;
}
.DashboardMenuCentral-button{
  padding: 0px 20px;
  width: 110px;
  height: 110px; 
  border: none; 
  cursor: pointer; 
  margin: 30px; 
  border-radius: 6px;
  background-color: #1f1f1f;
  transition: background-color 0.3s ease; 
}
.DashboardMenuCentral-button:hover {
  color: #fff;
  background-color: #00ddfa; 
}
.DashboardMenuCentral-nav{
  height: 700px;
  width: 100vh;
  position: relative;
  text-align: center;
  background-color:#28292d;
  border-radius: 30px;
}
.DashboardMenuCentral-nav-ul{
  height: 100%;
  width: 100%;
  padding: 30px 30px;
  list-style-type: none;
  margin: 10px;
}
.DashboardMenuCentral-nav-li{
  display: inline-block;
  margin: 0 10px;
}
.DashboardMenuCentral-nav-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #00ddfa
}
.DashboardMenuCentral-nav-icon-i{
  position: relative;
  display: inline-block;
  padding: 12px 30px;
  margin: 01px;
  color: #8f8f8f;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  border-radius: 20px;
}



/*//////////////////////////LINEAS DE CONTORNO//////////////////////////////////////*/

.DashboardMenuCentral-a{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
  
  
}
.DashboardMenuCentral-a:nth-child(4){
    filter: hue-rotate(110deg);
}
.DashboardMenuCentral-a span{
    position: absolute;
    display: block;
}

.DashboardMenuCentral-a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.DashboardMenuCentral-a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.DashboardMenuCentral-a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
.DashboardMenuCentral-a span:nth-child(5){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    color: #03e9f4;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
/*////////////////---- Media---
android  412* 914
iphon 400* 845
ipad 820*1180
tablet712*1138
laptop 1280*720-1920*1080
pc 1920 * 1200
uhd 3.840 x 2.160 
///////////////////////////////////*/

@media screen and (min-device-width: 412px) and (max-device-width: 914px) {
  /*.DashboardMenuCentral{
    display: flex;
    flex-direction: column;
  }*/
  .DashboardMenuCentral-LogoPrincipal{
    padding: 0px;
    border: 1px solid #05050500;
    width:80px;
    height: 90px;
    position: relative; 
    top:-150px ;
    left: -145px;
   
  }
  .DashboardMenuCentral-logo-Ziriuz{
    width:150px;
    height:100px;
  }
  .DashboardMenuCentral-button{
    height: 40px;
    width: 40px;
  }
  .DashboardMenuCentral-nav{
    height: 400px;
    width: 30vh;
    position: relative;
    text-align: center;
    background-color:#28292d;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    top: -120px;
    right:25px ;
   
  }
  .DashboardMenuCentral-nav-li{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;

  }
  
}

/*@media screen and (min-device-width: 412px) and (max-device-width: 914px) {
  .DashboardMenuCentral-LogoPrincipal{
    padding: 0px;
    border: 1px solid #05050500;
    width:80px;
    height: 90px;
    position: relative;
    
  }
  .DashboardMenuCentral-logo-Ziriuz{
    width:150px;
    height:100px;
  }
  .DashboardMenuCentral-button{
    height: 40px;
    width: 40px;
  }
  .DashboardMenuCentral-nav{
    height: 200px;
    width: 80vh;
    position: relative;
    text-align: center;
    background-color:#28292d;
    border-radius: 30px;
  }
  .DashboardMenuCentral-nav-li{
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;

  }
  
}*/

@media screen and (min-device-width: 600px) and (max-device-width: 845px){
  .DashboardMenuCentral-LogoPrincipal{
    padding: 0px;
    border: 1px solid #05050500;
    width:80px;
    height: 90px;
    position: relative; 
    top:-150px ;
    left: -100px;
  }
  .DashboardMenuCentral-logo-Ziriuz{
    width:130px;
    height:80px;
  }
  .DashboardMenuCentral-button{
    height: 40px;
    width: 40px;
    
  }
  .DashboardMenuCentral-nav{
    height: 200px;
    width: 80vh;
    position: relative;
    text-align: center;
    background-color:#28292d;
    border-radius: 30px;
    top: -120px;
  }
  .DashboardMenuCentral-nav-li{
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;

  }
}
@media screen and (min-device-width: 820px) and (max-device-width: 1180px) {
  .DashboardMenuCentral-button{
    height: 80px;
    width: 80px;
  }
  .DashboardMenuCentral-nav{
    height: 400px;
    width: 100vh;
    position: relative;
    text-align: center;
    background-color:#28292d;
    border-radius: 30px;
  }
}

@media screen and (min-device-width: 1920px) and (max-device-width: 1080px) {
  .DashboardMenuCentral-button{
    height: 80px;
    width: 80px;
  }
  .DashboardMenuCentral-nav{
    height: 200px;
    width: 80vh;
    position: relative;
    text-align: center;
    background-color:#28292d;
    border-radius: 30px;
  }
  .DashboardMenuCentral-nav-li{
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
  }
}
/* Extra large devices (large laptops and desktop, 1200px and up */
@media screen and  (min-device-width: 1920px) and (max-device-width: 1200px) {
  .DashboardMenuCentral-button{
    height: 150px;
    width: 150px;
  }
  .DashboardMenuCentral-nav-ul{
    height: 100%;
    width: 100%;
    padding: 30px 30px;
    list-style-type: none;
    margin: 10px;
  }
  .DashboardMenuCentral-nav{
    height: 700px;
    width: 150vh;
    position: relative;
    text-align: center;
    background-color:#28292d;
    border-radius: 30px;
  }
}