.CreateSede-button-redirect-container{
  position: absolute;
  left: 1200px;
  top: 45px;
}


.CreateSede-button-redirect{
  position: absolute;
  top: -45px;
  border-radius: 150px;
  color:#00ddfa;
  background-color: rgba(32, 32, 32,0.6);
  padding: 5px;
  height: 55px ;
  width:55px ;
}


/* sedes media  */
/* Clientes media */

@media screen and (min-device-width: 412px) and (max-device-width: 915px) {
  .CreateSede-button-redirect-container{
      position: absolute;
      left: 330px;
      top: 60px;
  }
}



@media screen and (min-device-width: 600px) and (max-device-width: 845px){
  .CreateSede-button-redirect-container{
      position: absolute;
      left: 450px;
      top: 60px;
  }
}
@media screen and (min-device-width: 820px) and (max-device-width: 1180px) {
  .CreateSede-button-redirect{
      position: absolute;
      left: 120px;
      top: -45px;
     
  }
}

@media screen and (min-device-width: 1080px)  {
  .CreateSede-button-redirect{
    position: absolute;
    left: 220px;
    top: 0rem;
  }
} 