.DashboardStyles{
    font-size: 15px;
    text-decoration:none;
    display:flex;
    height: 100%;
    width: 100%;
}

.MenuCentral{
    
    padding: 90px 10px 50px 100px;
}

.DashboardStylesCuadros {
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
    
}