@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
  --surface-color: #ffffff;
  --curve: 20;
  --text-color: #a0a0a0;
}

.ClientsPages-cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style: none;
}

.ClientsPages-card {
  border-radius: 20px;
  padding: 5px;
  position: relative;
  display: block;
  height: 280px;
  width: 300px;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  background-image: linear-gradient(to top, #093f2d 0%, #53956c 100%);
}

.ClientsPages-card-ClientImage {
  align-self: center;
  width: 20%;
  height: 20%;
}

.ClientsPages-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.1s ease-in-out;
}

.ClientsPages-card:hover .ClientsPages-card-overlay {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.ClientsPages-card-header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
  background-color: var(--surface-color);
  padding: 10px;
  transform: translateY(-100%);
  transition: 0.0s ease-in-out;
}



.ClientsPages-card:hover .ClientsPages-card-header {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

/* .card__thumb {
  flex-shrink: 0;
  width: 3.125em;
  height: 3.125em;
  border-radius: 70%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
} */

.ClientsPages-card-title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #00fa25;
}

.ClientsPages-card-status {
  font-size: 0.8em;
  color: var(--text-color);
}

.ClientsPages-card-description {
  padding: 0 2em 2em;
  margin: 0;
  color: var(--text-color);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.ClientsPages-card-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  
  top: -20%;
  left: 0;
  will-change: top;
  background-size: cover;
  background-position: center;
  filter: blur(30px);
  transform: scale(1.2);
  transition: 0.0s;
}

.ClientsPages-container {
  width: 1200px;
  height: 100%;
}

.ClientsPages-Container-Card {
  width: 1200px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 2rem 3vw;
  padding: 0;
  list-style: none;
}
