/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wgh@300;400;500;600;700;800;900&display=swap'); */



 .UpdateForm-ZiriuzLogo {

    width: 150px; 
    height: auto;
    margin: 10px auto; 
    display: block;
  }



 .UpdatePasswordForm-box
 {
     position: relative;
     width: 380px;
     height: 420px;
     background: #1c1c1c;
     border-radius: 8px;
     overflow: hidden;
 }
 
 .UpdatePasswordForm-box::before
 {
     content: '';
     position: absolute;
     top: -50%;
     left: -50%;
     width: 380px;
     height: 420px;
     background: linear-gradient(0deg,transparent,
     #00ddfa,#00ddfa);
     transform-origin: bottom right;
     animation: animate 6s linear infinite;
 }
 
 .UpdatePasswordForm-box::after
 {
     content: '';
     position: absolute;
     top: -50%;
     left: -50%;
     width: 380px;
     height: 420px;
     background: linear-gradient(0deg,transparent,
     #00ddfa,#00ddfa);
     transform-origin: bottom right;
     animation: animate 6s linear infinite;
     animation-delay: -3s;
 }
 
 @keyframes animate
 {
     0%
     {
         transform: rotate(0deg);
     }
     100%
     {
         transform: rotate(360deg);
     }
 }
 
 
 .UpdatePasswordForm-form
 {
     position: absolute;
     inset: 2px;
     border-radius: 8px;
     background: #28292d;
     z-index: 10;
     padding: 50px 40px;
     display: flex;
     flex-direction:  column;    
 }
 
 .UpdatePasswordForm-form h2
 {
     color:#00ddfa;
     font-weight: 500;
     text-align: center;
     letter-spacing: 0.1em;
 }
 
 
 .UpdatePasswordForm-inputBox
 {
     position: relative;
     width: 300px;
     margin-top: 35px;
 
 }
 
 
 .UpdatePasswordForm-input
 {
     position: relative;
     width: 100%;
     padding: 20px 10px 10px;
     background: transparent;
     border: none;
     outline: none;
     color: #23242a;
     font-size: 1em;
     letter-spacing: 0.05em;
     z-index: 10;
 }
 
 .UpdatePasswordForm-inputBox span
 {
     position: absolute;
     left: 0;
     padding: 20px 0px 10px;
     font-size: 1em;
     color: #8f8f8f;
     pointer-events: none;
     letter-spacing: 0.05em;
     transition: 0.5s;
 }
 
 
 .UpdatePasswordForm-input:valid ~ span,
 .UpdatePasswordForm-input:focus ~ span
 {
     color: #00ddfa;
     transform: translateX(0px) translateY(-34px);
     font-size: 0.75em;
 }
 
 
 
 .UpdatePasswordForm-inputBox i
 {
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 2px;
     background: #00ddfa;
     border-radius: 4px;
     transition: 0.5s;
     pointer-events: none;
     z-index: 9;
 }
 
 .UpdatePasswordForm-input:valid ~ i,
 .UpdatePasswordForm-input:focus ~ i
 {
     height: 44px;
 
 }
 

 
 .UpdatePasswordForm-button[type="submit"]
 {
     border: none;
     text-align: center; 
     outline: none;
     background: #00ddfa;
     padding: 11px 25px;
     width: 100px;
     margin-top: 10px;
     border-radius: 4px;
     font-weight: 600;
     cursor: pointer;
 }
 
 .UpdatePasswordForm-button[type="submit"]:active
 {
    text-align: center; 
     opacity: 0.8;
 }
 
 .UpdatePasswordForm-p{
     color: #c4c4c4;
 }


 .UpdatePasswordForm-center-text {
    text-align: center; /* Centra horizontalmente */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100px; /* Altura deseada */
    color: #c4c4c4;
  }