.TipoEquipoCard-box {
    height: 184px;
    width: 565px;
  }
  
  .TipoEquipoCard-box .TipoEquipoCard-overlap-group-wrapper {
    height: 184px;
    left: 0;
    top: 0;
    width: 569px;
  }
  
  .TipoEquipoCard-box .TipoEquipoCard-overlap-group {
    background-size: 100% 100%;
    height: 184px;
    background-color: #ffffffd9;
    position: relative;
    width: 565px;
  }
  
  .TipoEquipoCard-box .TipoEquipoCard-overlap {
    background-color: #ffffffd9;
    border-radius: 5px;
    height: 184px;
    left: 0;
    position: absolute;
    top: 0;
    width: 197px;
  }
  
  .TipoEquipoCard-box .TipoEquipoCard-marcaequipo-icon {
    height: 161px;
    left: 14px;
    color: #00ddfa;
    position: absolute;
    top: 13px;
    width: 169px;
  }
  
  .TipoEquipoCard-box .TipoEquipoCard-marcaequipo-title {
    color: #00ddfa;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 241px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 54px;
    width: 307px;
  }
  
  .TipoEquipoCard-box .TipoEquipoCard-marcaequipo-id {
    color: #636b6f;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 241px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 101px;
    width: 302px;
  }
  
    .TipoEquipoCard-cards-list{
      display:grid;
      grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
      gap:2rem;
      margin:4rem 5vw;
      padding:0;
      list-style: none;
      
    }
  
    .TipoEquipoCard-Container-Card{
      width: 1200px;
      height: 100%;
      display:grid;
      grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
      gap:2rem;
      margin:2rem 3vw;
      padding:0;
      list-style: none
    }
  
  
  .TipoEquipoCard-container{
      width: 1200px;
      height: 100%;
  }